@import '@/_vars';

.headerLayout {
    &__{
        &ribbon{
            background-color: $color-black-1000;
        }

        &content{
            padding-top: 56px;
        }

        &searchBar {
            width: 60%;
            height: 32px;
        }
    }
}