.filterProduct1 {
    min-width: 240px;
    width: 240px;

    &__ {
        &inner {
            width: inherit;
            position: fixed;
            width: inherit;
            overflow-y: scroll;
            overflow-x: hidden;
            position: fixed;
            max-height: 92vh;
            padding-bottom: 60px;

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}