$color-black-1000: #000;
$color-black-900: rgba(0, 0, 0, 0.9);
$color-black-850: rgba(0, 0, 0, 0.85);
$color-black-700: rgba(0, 0, 0, 0.7);
$color-black-400: rgba(0, 0, 0, 0.4);


$color-gold-1000: #e5b80b;

$color-violet: #7f00ff;


$color-white-1000: #fff;


$color-green-1000: #00ff00;


$color-red-1000: #FF0000;


// media queries


$mobile: 480px;
$tablet: 768px;