@import '@/_vars';

.adminLayout {
    &__ {
        &menu {
            background-color: $color-black-850;
        }

        &content {
            margin-left: 200px;
            background-color: $color-white-1000;
            color: $color-black-900;
        }
    }
}