@import '@/_vars'; 

.productInfo {
    width: 100%;

    padding: 20px 0;

    @media all and (min-width: $tablet) {
        display: flex;
        gap: 20px;
    }
    
    &__{
        &flex {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        &text {
            width: 100%;

            @media all and (min-width: $tablet) {
                width: 600px;
            }
        
        }

        &title{
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 30px;
            font-weight: 600;
            color: $color-black-900;
        }

        &category {
            background-color: $color-black-1000;
            color: $color-white-1000;
            display: inline-block;
            padding: 10px;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 20px;
            outline: none;
            border: none;
        }

        &producer {
            color: $color-black-900;
            text-transform: capitalize;
            font-size: 24px;
            line-height: 28px;
            margin-right: 20px;
            background-color: $color-white-1000;
            outline: none;
            border: none;
        }

        &weight {
            color: $color-black-900;
            margin-bottom: 20px;
        }

        &price {
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 20px;
            color: $color-black-900;
        }

        &rating {
            margin-bottom: 20px;
        }

        &description {
            font-size: 18px;
            line-height: 24px;
            color: $color-black-900;
            margin-bottom: 20px;
        }

        &count {
            color: $color-white-1000;
            padding: 10px 20px;
            display: inline-block;
        }

        &inStock {
            background-color: $color-green-1000;
        }

        &notInStock {
            background-color: $color-red-1000;
        }
    }
}

.adminProductInfo {
    .productInfo {
        &__{
            &title {
                background-color: $color-white-1000;
                color: $color-black-900;
                display: block;
                border: 1px solid $color-black-700;
                padding: 5px;
                width: 100%;
            }

            &description {
                width: 100%;
                height: 400px;
                padding: 10px;
                background-color: $color-white-1000;
                resize: none;
                color: $color-black-900;
                border: 1px solid $color-black-900
            }

            &submit {
                color: $color-white-1000;
                background-color: $color-green-1000;
                padding: 10px 20px;
            }

            &count {
                margin-bottom: 20px;
                border: 1px solid $color-black-900;
                color: $color-black-900;
                margin-left: 10px;
            }

            &price {
                border: 1px solid $color-black-900;
                color: $color-black-900;
                margin-left: 10px;
            }
        }
    }
}

