@import '@/_vars';

.resizingButton {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    transition: all .3s ease-out 100ms;

    &:hover {
        font-size: 24px;
        padding: 14px 28px;
    }
}