@import '@/_vars';

.manufacturerItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    @extend .active;
  } 

  &__ {
    &active {

      @extend .active;
    }
  }
}

.active {
  -webkit-box-shadow: 0px 0px 5px 0px $color-black-400;
  -moz-box-shadow: 0px 0px 5px 0px $color-black-400;
  box-shadow: 0px 0px 5px 0px $color-black-400;
}

