@import '@/_vars';

.manufacturersContent {
  padding: 10px 0;
  &__{
    &image{
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    &name{
      font-size: 32px;
      line-height: 40px;
      color: $color-black-900;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &country{
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
      color: $color-black-700;
    }

    &description{
      font-size: 16px;
      line-height: 24px;
    }
  }
}