@import '@/_vars';

.dropdown {
    
    &__{
        &button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 10px;
        }

        &title{
            font-weight: 600;
            color: $color-black-900;
        }

        &arrow{
            color: rgba(0,0,0,0.4);
            font-size: 16px;
        }

        &content{
            margin-left: 10px;
            margin-bottom: 20px;
        }

    }
}