@import '@/_vars';

.productItem {
    width: 197px;
    cursor: pointer;
    position: relative;

    &:focus{
        
        border: none;
        outline: none;

        .productItem__title {
            font-size: 18px;
        }
    }

    &__ {
        &image{
            width: 100%;
            height: 220px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 5px;
        }

        &title{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 26px;
            white-space: nowrap;
            color: $color-black-900;
        }

        &rating{
            display: flex;
            align-items: center;
        }

        &price{
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            color: $color-black-900;
        }

        &stockChecker {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 10px;
            padding: 0 3px;
            border-radius: 10px;
        }

    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__{
        &additional{
            display: flex;
            justify-content: space-between;
        }
    }
}

.rating {
    &__ {
        &rate{

        }
        &count{

        }
    }
}