@import '@/_vars';


.navbar {
    &__ {
        &list {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: 10px;
            justify-content: end;
        }

        &item {
          
        }
    }
}