@import '@/_vars';

.scrollableList{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    &__ {
        &item{
            margin-bottom: 3px;
            font-size: 18px;
            cursor: pointer;
            color: $color-black-900;
        }
    }
}